@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.Container{
    width: 100%;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #15141B;
}
.css-wyxc81{
    padding: 0 !important;
    min-height: 0 !important;
}
.css-7fs2xq{
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
}
.css-jb1q5s {
    border-top-right-radius: 50px !important;
    border-top-left-radius: 50px !important;
}

.ButtonAdmin{
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    background: #FFC831;
    border-radius: 100px;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #15141B;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.ButtonAdmin:hover {
    background: #FFD966;
    box-shadow: 0 2px 2px rgba(255, 200, 49, 0.3);
}
.ContentCategorias{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 40px;
    padding-bottom: 0;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.TopContentCategorias{
    display: flex;
    flex-direction:row-reverse;
    width: 100%;
    align-items: center;
    gap:15px;
}